<%= link_to("<<back to list", {:action =>'list'}, :class => 'back-link') %>


<div class="team new">
  <h2>New Team</h2>

  <%=form_for(:team, :url => {:action =>'create'}) do |f| %>
  <table>
    <tr>
      <th>Name</th>
      <td><%=f.text_field(:name) %></td>
    </tr>
  </table>

  <div>
    <%= submit_tag("create team") %>
  </div>
  <% end %>
</div>