<%= link_to("<<back to list", {:action =>'list'}, :class => 'back-link') %>

<div class= "Fixture delete">
  <h2>Delete subject</h2>

  <%=form_for(:fixture, :url => {:action => 'destroy', :id => :fixture.id}) do |f| %>
    <p>Are you sure want to permanently delete this team?</p>

    <p class="reference name"><%= @fixture.name%></p>
      <div class= "form-buttons">
        <%= submit_tag("Delete team") %>
      </div>
  <% end %>


</div>