<%= link_to("<<back to list", {:action =>'list'}, :class => 'back-link') %>

<div class= "subscription delete">
  <h2>Delete subscription</h2>

  <%=form_for(:subscription, :url => {:action => 'destroy', :id => @subscription.id}) do |f| %>
    <p>Are you sure want to permanently delete this subscription?</p>

    <p class="reference name"><%= @subscription.sub_type%></p>
      <div class= "form-buttons">
        <%= submit_tag("Delete team") %>
      </div>
  <% end %>


</div>