<%= link_to("<<back to list", {:action =>'list'}, :class => 'back-link') %>


<div class="subscription new">
  <h2>New subscription</h2>

  <%=form_for(:subscription, :url => {:action =>'create'}) do |f| %>
  <table>
    <tr>
      <th>Sub type</th>
      <td><%=f.text_field(:sub_type) %></td>
    </tr>
  </table>

  <div>
    <%= submit_tag("create subscription") %>
  </div>
  <% end %>
</div>