/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#wrapper {
	height: 800px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-color: #dfdfe6;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin-top:10px;
	position: relative;
    padding: 10px;
}
#notice {
    height:20px;
    width:900px;
    margin-right: auto;
    margin-left: auto;
    background-color: #b30500;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding-left: 5px;
}
#header {
	background-color: #85a87d;
	height: 105px;
	width: 900px;
	margin-right: 62px;
	margin-left: 62px;
	margin-top: 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	float: left;

}
#title {
    width: 200px;
    margin-left: 50px;
    margin-top: 10px;
}
#nav{
    width: 200px;
    height: 30px;
    margin-top: 0px;
    margin-left: 10px;
    position: relative;
  }
#nav a{
    text-decoration: none;
    color:white;
    padding-top: 10px;
    padding-left: 5px;

}
#nav a:hover {
	color: #28f005;
	border-bottom: 2px solid #14610b;
	text-decoration: none;
	margin-left:3px;
}


/*table CSS
begin
*/

table, th, td
{
border: 1px solid black;
}

td{
padding:2px;
}